<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.title}}</title>
    <style> body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        color: #333;
        text-align: center;
    }

    p {
        font-size: 16px;
        margin: 10px;
    } </style>
</head>
<body> {{range $index, $ele := .stuArr}} <p>{{$index}}: {{ $ele.Name }} is {{ $ele.Age }} years old</p> {{end}}</body>
</html>

